html, body {
	margin: 5px;
	padding: 0;
}

.temp {
	margin-left: 15px;
}

.add_state {
	font-size: 60px;
}

.card__add-state:hover {
	cursor: pointer;
}

.cards__item {
	position: relative;
}

.cards__item:after {
	content: 'x';
	color: #fff;
	font-size: 50px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 10;
	opacity: 0;
	transition: .4s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards__item:hover:after {
	opacity: 1;
	cursor: pointer;
}